<div class="container">

<h2>Want to edit the note?</h2>
</br>
</br>
</br>
<%= render :partial => 'form' %>
</br>
</br>
</br>
<button type="button"><%= link_to 'My Profile', user_path(current_user.id) %></button>
<button type="button"><%= link_to 'All Notes', notes_path %></button>

</div>
