<div class="container">

<h2>Let's add a note:</h2>
</br>
</br>
</br>
<% @note.users_id = current_user.id %>
<%= render :partial => 'form' %>
</br>
</br>
</br>
<button type="button"><%= link_to 'My Profile', user_path(current_user.id) %></button>
<button type="button"><%= link_to 'All Notes', notes_path %></button>

</div>
